EXPO_PUBLIC_USE_FIREBASE_EMULATORS=false
EXPO_PUBLIC_FIREBASE_EMULATOR_HOST=10.0.2.2

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyD8lPjxXRspqgoDcQDPRxJBZOCFi4w5Uxo
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=parakleo.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=parakleo
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=parakleo.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=739203614866
EXPO_PUBLIC_FIREBASE_APP_ID=1:739203614866:web:0ad34cefec01ea6a5b7e4b

EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_or_live_key
