EXPO_PUBLIC_USE_FIREBASE_EMULATORS=false
EXPO_PUBLIC_FIREBASE_EMULATOR_HOST=10.0.2.2

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCAGhIGyQlZvJwzJ-3FOBHsesF-bFf41Tg
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=bakayise-uncedo.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=bakayise-uncedo
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=bakayise-uncedo.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=618602036816
EXPO_PUBLIC_FIREBASE_APP_ID=1:618602036816:web:5aa6a307585aee37c35b55
EXPO_PUBLIC_WEB_APP_URL=https://bakayise-uncedo.web.app
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GEMINI_API_KEY=
EXPO_PUBLIC_GEMINI_TEXT_MODEL=gemini-2.5-flash
GOOGLE_MAPS_API_KEY=

EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_1317ddbc46fac459db6857a3ca9eed5ed5f8383f
